<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <meta charset="UTF-8">
    <title>Header</title>
</head>
<body>
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">ReceptDB</a>
        </div>
        <ul class="nav navbar-nav">
            <li sec:authorize="hasAuthority('ROLE_USER')"><a href="#" th:href="@{/}">Receptek</a></li>
            <li sec:authorize="hasAuthority('ROLE_USER')"><a href="#" th:href="@{/addRecipe}">Recept hozzáadása</a></li>
            <li sec:authorize="hasAuthority('ROLE_USER')"><a href="#" th:href="@{/ingredients}">Lehetséges hozzávalók</a></li>
            <li sec:authorize="hasAuthority('ROLE_ADMIN')"><a href="#" th:href="@{/pendingRecipes}">Függő receptek</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <!--<li>-->
                <!--<a class="glyphicon glyphicon-user"></a> -->
            <!--</li>-->
            <li>
                <a href="#" th:text=" ${#authentication.getPrincipal().getUsername()}"></a>
            </li>
            <li>
                <a href="/logout">
                    <span class="glyphicon glyphicon-log-out"> Kijelentkezés</span>
                </a>
            </li>
        </ul>
    </div>
</nav>
<div style="padding-top: 60px;" th:insert="layout/messageHeader :: body">messages</div>
</body>
</html>