<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <meta charset="UTF-8">
    <title>Ingredients</title>
</head>
<body>
<div th:insert="layout/header :: body">Header</div>
<div class="container">
    <table class="table table-striped table-hover">
        <tbody>
        <tr th:each="ingredient : ${ingredients}">
            <td th:text="${ingredient.name}">Recipe name</td>
            <td sec:authorize="hasAuthority('ROLE_ADMIN')">
                <a class="btn btn-danger" th:href="@{/deleteIngredient/{name}(name=${ingredient.name})}"
                   th:text="Töröl"/>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<div class="container">
    <form action="#" th:action="@{/addIngredient/}" th:object="${ingredient}" method="post">
        <table class="table table-striped">
            <tr>
                <td>Név</td>
                <td><input type="text" th:field="*{name}"/></td>
            </tr>
            <tr>
                <td><input type="submit" class="btn btn-info" value="Hozzáadás"/></td>
            </tr>
        </table>
    </form>
</div>
</body>
</html>